*{
    color:white;
    text-align:center;
    font-family:times new roman;
    }
    .bg{
     background-image:url("https://c0.wallpaperflare.com/preview/917/466/412/clock-time-time-management-time-of.jpg");
     background-repeat:no-repeat;
     background-size: cover;
     background-position: center;
     height:100%;
    }
    #txt{
    padding:90 10 10 10;
    text-align:center;
    color:red;
    font-size:70px;
    }
    #head{
    padding:10 10 50 0;
    color:red;
    font-size:20px;
    }
    #date{
    color:brown;
    font-size:20px;
    padding:0 0 0 30;
    }
    